{% load static %}

<footer class="footer pt-4">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <a href="{% url 'tasks:index' %}">
            <h6 class="text-gradient text-primary font-weight-bolder">Task Manager</h6>
          </a>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <a href="{% url 'tasks:task-list' %}" class="text-reset text-decoration-none">
            <h6 class="text-gradient text-primary text-sm">Tasks</h6>
          </a>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tasks:task-type-list' %}">
                Task types
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <a href="{% url 'tasks:worker-list' %}" class="text-reset text-decoration-none">
            <h6 class="text-gradient text-primary text-sm">Workers</h6>
          </a>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tasks:position-list' %}">
                Positions
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <a href="{% url 'tasks:project-list' %}" class="text-reset text-decoration-none">
            <h6 class="text-gradient text-primary text-sm">Projects</h6>
          </a>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <a href="{% url 'tasks:team-list' %}" class="text-reset text-decoration-none">
            <h6 class="text-gradient text-primary text-sm">Teams</h6>
          </a>
        </div>
      </div>

      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            Coded by Ivan Khomych.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
