{% extends "layouts/base_sections.html" %}
{% load static %}

{% block title %}
  <title>
    {{ project.name }}
  </title>
{% endblock %}

{% block content %}
  <section class="my-5 pt-5">
  <div class="container">
    {% if messages %}
      <div class="container p-0 m-0 bg-danger border-radius-xl">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} text-white" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-12 col-xl-4 mt-3">
        <div class="card sticky-top" style="top: 90px; z-index: 0">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                <h3 class="mb-0">{{ project.name }}</h3>
              </div>
            </div>
          </div>
          <div class="card-body p-3 pb-0 mb-0">
            <p class="text-sm">
              {% if project.description %}
                {{ project.description }}
              {% else %}
                This project has no description.
              {% endif %}
            </p>
            <hr class="horizontal gray-light my-2">
          </div>
          <div class="py-0 px-3">
            <ul class="list-unstyled mb-0">
              {# Deadline #}
              <li class="d-flex align-items-center mb-2">
                <i class="icon-calendar me-2"></i>
                <span class="badge text-dark border">
                  {{ project.deadline|date:"M d, Y" }}
                </span>
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="icon-user me-2"></i>
                <span>
                  Leader:
                  {% if project.leader %}
                     {{ project.leader }}
                  {% endif %}
                </span>
              </li>
            </ul>
            <hr class="horizontal gray-light my-2">
            {# Teams #}
            <h5 class="card-title mb-2">Team:</h5>
            {% if project.team %}
              <a href="{{ project.team.get_absolute_url }}" class="text-reset text-decoration-none">
                <i class="icon-angle-double-right"></i>
                <span class="bg-primary-subtle text-dark">
                  {{ project.team.name }}
                </span>
              </a>
            {% else %}
              <div class="d-inline-block">
                <i class="icon-user"></i>
                <span class="bg-primary-subtle text-dark">No team</span>
              </div>
            {% endif %}
            <hr class="horizontal gray-light my-2">
            <div class="card-body py-3 px-0">
              {# Кнопка зміни статусу завдання #}
              <div class="d-inline-block w-100">
                <form method="post" action="{% url 'tasks:project-toggle-completed' pk=project.id %}" class="d-inline">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}">
                  <button type="submit"
                          class="btn btn-sm {% if project.is_completed %}bg-gradient-success{% else %}bg-gradient-secondary{% endif %} w-100 text-nowrap">
                    {% if project.is_completed %}
                      Mark as incomplete
                    {% else %}
                      Mark as done
                    {% endif %}
                  </button>
                </form>
              </div>
              {# Кнопка посилання change #}
              <a href="{% url 'tasks:project-update' pk=project.id %}"
                 class="btn btn-sm bg-gradient-primary w-100 text-nowrap">
                Update
              </a>

              {# Кнопка видалення #}
              <a href="{% url 'tasks:project-delete' pk=project.id %}"
                 class="btn btn-sm bg-gradient-danger w-100 text-nowrap">
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>

      {# block projects #}
      <div class="col-12 col-xl-8">

        {# Tasks #}
        <div class="row mt-3">
          <div class="col-12">
            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-0">
              <div class="container">
                <div class="row justify-space-between py-2">
                  <div class="col-lg-4 col-md-5 col-sm-6 me-auto">
                    <p class="lead text-dark pt-1 mb-0">Tasks</p>
                  </div>
                  <a href="{% url 'tasks:task-create' %}"
                     class="btn bg-gradient-secondary w-auto">
                    Create a new task
                  </a>
                </div>
              </div>

              {# Content #}
              <div class="tab-content tab-space">
                <div class="tab-pane active" id="preview-typo">
                  <div class="position-relative p-4 pt-0">
                    {% if has_tasks %}
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for task in tasks %}
                              <tr>
                                <td class="align-middle">
                                  <a href="{{ task.get_absolute_url }}" class="text-reset text-decoration-none">
                                    <div class="d-flex px-2 py-1">
                                      <div>
                                        <img src="{% static "img/tasks_1.png " %}" class="avatar avatar-sm me-3" alt="user1">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ task.name }}</h6>
                                      </div>
                                    </div>
                                  </a>
                                </td>

                                <td class="align-middle text-center text-primary">
                                  <a href="{% url 'tasks:task-assign' pk=task.id %}"
                                     class="text-reset text-decoration-none">Assign</a>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% else %}
                      No tasks.
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}