{% extends "layouts/base_sections.html" %}
{% load static %}

{% block title %}
  <title>
    {{ worker.full_name }}
  </title>
{% endblock %}

{% block content %}
  <section class="my-5 py-5">
  <div class="container">
    <div class="row pt-lg-6">
      <div class="col-12 col-xl-4 mt-3">
        <div class="card sticky-top" style="top: 90px">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                <h6 class="mb-0">Profile Information</h6>
              </div>
              <div class="col-md-4 text-end">
                <a href="{% url 'tasks:worker-update' pk=worker.id %}">
                  <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-3">
            <p class="text-sm">
              {% if worker.biography %}
                {{ worker.biography }}
              {% else %}
                This worker has no biography.
              {% endif %}
            </p>
            <hr class="horizontal gray-light my-4">
            <ul class="list-group">
              <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                <strong class="text-dark">Full Name:</strong>
                {% if worker.full_name %}
                 {{ worker.full_name }}
                {% endif %}
              </li>
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{ worker.email }}</li>
              <li class="list-group-item border-0 ps-0 text-sm">
                <a href="{% url 'tasks:position-detail' pk=worker.position_id %}" class="text-reset text-decoration-none">
                  <strong class="text-dark">Position:</strong> &nbsp; {{ worker.position }}
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body p-3">
            {# Кнопка посилання change #}
            <a href="{% url 'tasks:worker-update' pk=worker.id %}"
               class="btn btn-sm bg-gradient-primary w-100 text-nowrap">
              Update
            </a>

            {# Кнопка видалення #}
            <a href="{% url 'tasks:worker-delete' pk=worker.id %}"
               class="btn btn-sm bg-gradient-danger w-100 text-nowrap">
              Delete
            </a>
          </div>
        </div>
      </div>

      {# block projects #}
      <div class="col-lg-8">
        <div class="row mt-3">
          <div class="col-12">
            <div class="position-relative border-radius-xl overflow-hidden shadow-lg">

              {# Project #}
              <div class="container">
                <div class="row justify-space-between py-2">
                  <div class="col-lg-4 col-md-5 col-sm-6 me-auto">
                    <p class="lead text-dark pt-1 mb-0">Project leader</p>
                  </div>
                </div>
              </div>

              {# Content #}
              <div class="tab-content tab-space">
                <div class="tab-pane active" id="preview-typo">
                  <div class="position-relative p-4">
                    {% if projects %}
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for project in projects %}
                              <tr>
                                <td>
                                  <a href="#" class="text-reset text-decoration-none">
                                    <div class="d-flex px-2 py-1">
                                      <div>
                                        <img src="{% static "img/project.png " %}" class="avatar avatar-sm me-3" alt="user1">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ project.name }}</h6>
                                      </div>
                                    </div>
                                  </a>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% else %}
                      Not a leader of any project.
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="position-relative border-radius-xl overflow-hidden shadow-lg">

              {# Project #}
              <div class="container">
                <div class="row justify-space-between py-2">
                  <div class="col-lg-4 col-md-5 col-sm-6 me-auto">
                    <p class="lead text-dark pt-1 mb-0">Team member</p>
                  </div>
                </div>
              </div>

              {# Content #}
              <div class="tab-content tab-space">
                <div class="tab-pane active" id="preview-typo">
                  <div class="position-relative p-4">
                    {% if teams %}
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for team in teams %}
                              <tr>
                                <td>
                                  <a href="#" class="text-reset text-decoration-none">
                                    <div class="d-flex px-2 py-1">
                                      <div>
                                        <img src="{% static "img/team-black.png " %}" class="avatar avatar-sm me-3">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ team.name }}</h6>
                                      </div>
                                    </div>
                                  </a>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% else %}
                      Not a member of any team.
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">

              {# Tasks #}
              <div class="container">
                <div class="row justify-space-between py-2">
                  <div class="col-lg-4 col-md-5 col-sm-6 me-auto">
                    <p class="lead text-dark pt-1 mb-0">Tasks</p>
                  </div>
                </div>
              </div>

              {# Content #}
              <div class="tab-content tab-space">
                <div class="tab-pane active" id="preview-typo">
                  <div class="position-relative p-4">
                    {% if tasks %}
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for task in tasks %}
                              <tr>
                                <td>
                                  <a href="{{ task_type.get_absolute_url }}" class="text-reset text-decoration-none">
                                    <div class="d-flex px-2 py-1">
                                      <div>
                                        <img src="{% static "img/tasks_1.png " %}" class="avatar avatar-sm me-3" alt="user1">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ task.name }}</h6>
                                      </div>
                                    </div>
                                  </a>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% else %}
                      Does not perform any tasks.
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}